@import "../gutenberg_block";

.slide-hotels-block {
    display: flex;
    flex-direction: row;
    height: auto;
    min-height: 100vh;
    .slide-hotels-content{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .subtitle{
            margin-bottom: 3.5rem;
            p{
                @include size-L;
            }
        }
        .hotels-list{
            width: fit-content;
            &.items-hovered{
                .hotel-list-item{
                    @extend %transition; 
                    opacity: 0.3;
                    @include breakpoint(S){
                        opacity: 1;
                    }
                    &.item-active{
                        opacity: 1;
                    }
                }
            }
          
            .hotel-list-item{
                width: 100%;
                margin-bottom: 1.75rem;
                &:last-of-type{
                    margin-bottom: 0;
                }
                .img-hotel-single-mobile{
                    display: none;
                }
            }
        }
    }
    .slide-hotels-img{
        width: 50%;
        position: relative;
        .js-slider-hotels{
            width: 100%;
            height: 100%;
            .slick-list, .slick-track{
                height: 100%;
            }
        }
    }

    @include breakpoint(S) {
        height: auto;
        .slide-hotels-img{
            display: none;
        }
        .slide-hotels-content{
            width: 100%;
            h3{
                text-align: center;
            }
            .subtitle{
                text-align: center;
            }
            .hotels-list{
                width: 100%;
                .hotel-list-item{
                    .img-hotel-single-mobile{
                        display: block;
                        position: relative;
                        margin-bottom: 1.643rem;
                    }
                    .img-hotel{
                        width: 100%;
                        aspect-ratio: 1/1;
                        height: auto;
                        .image-carousel,
                        .slick-list,
                        .slick-track{
                            width: 100% !important;
                            aspect-ratio: 1/1;
                            height: auto;
                            img{
                                width: 100% !important;
                                // height: 100%;
                            }
                        }
                        .slick-controls{
                            position: absolute;
                            width: 100%;
                            bottom: 0.5rem;
                        }
                    }
                }
            }
        }
        
    }
}