node_modules

# ignore base wordpress files, we only want the theme
public_html/index.php
license.txt
readme.html
wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
public_html/wp-content/index.php
public_html/wp-content/themes/index.php
public_html/wp-content/themes/twentyfifteen/
public_html/wp-content/themes/twentyseventeen/
public_html/wp-content/themes/twentysixteen/
public_html/wp-content/themes/twentynineteen/
public_html/wp-content/themes/twentytwenty/
public_html/wp-content/themes/twentytwentyone/
public_html/wp-content/themes/twentytwentytwo/
public_html/wp-content/themes/twentytwentythree/
public_html/wp-content/plugins/akismet/
public_html/wp-content/plugins/hello.php
public_html/wp-content/cache/
wp-content/uploads/
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
.htaccess
wp-content/advanced-cache.php
wp-content/cache/
wp-content/wp-cache-config.php

public_html/wp-content/languages/
public_html/wp-content/uploads/

# ignore system files
.DS_Store
