@import "../gutenberg_block";

.img-content-banner{
    min-height: calc(100vh - var(--header-height));
}
.img-content-row{
    &.layout-text-image{
        &.side-spacing{
            padding-right: 0;
            .img{
                width: calc(50% + 3.75rem);
            }
            &.wide-image{
                .img {
                    width: calc(60% + 3.75rem);
                }
                .content {
                    width: 40%;
                }
            }
            @include breakpoint(XS) {
                padding: 0;
                .img{
                    width: 100%;
                }
                &.wide-image{
                    .img {
                        width: 100%;
                    }
                    .content {
                        width: 100%;
                    }
                }
            }
        }
    }
    @include breakpoint(XS) {
        .content{
            padding-top: 3.25rem !important;
            padding-bottom: 3.25rem !important;
            padding-left: 3.063rem !important;
            padding-right: 3.063rem !important;
        }
        &.spacing{
            padding: 0 1.75rem !important;
            .content{
                padding-top: 3.25rem !important;
                padding-bottom: 3.25rem !important;
                padding-left: 1.313rem !important;
                padding-right: 1.313rem !important;
            }
        }
    }
    &.layout-image-text{
        &.side-spacing{
            padding-left: 0;
            .img{
                width: calc(50% + 3.75rem);
            }
            &.wide-image{
                .img {
                    width: calc(60% + 3.75rem);
                }
                .content {
                    width: 40%;
                }
            }
            @include breakpoint(XS) {
                padding: 0;
                .img{
                    width: 100%;
                }
                &.wide-image{
                    .img {
                        width: 100%;
                    }
                    .content {
                        width: 100%;
                    }
                }
            }
        }
    }
    &.wide-image{
        .img {
            width: 60%;
        }
        .content {
            width: 40%;
        }
        @include breakpoint(XS) {
            padding: 0 !important;
            .img {
                width: 100%;
            }
            .content {
                width: 100%;
                padding-left: 3.063rem !important;
                padding-right: 3.063rem !important;
            }
        }
    }
}
.img-content {
    display: flex;
    position: relative;

    @include breakpoint(XS) {
        flex-direction: column;
    }
    &.slick-slide {
        display: flex !important;
    }
    .content {
        width: 50%;
        padding: 0 0 0 3.714rem;
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint(S) {
            padding: 0 0 0 3rem;
        }
        @include breakpoint(XS) {
            padding: 2rem 0 0 0;
            margin: 0;
            width: 100%;
            text-align: center;
            flex-basis: auto;

            .buttons {
                justify-content: center;
                margin-bottom: 0;
                width: 100%;
                
                .button {
                    white-space: nowrap;
                }
                @include breakpoint(XS) {
                    justify-content: start;
                }
            }
            &.xs\:text-left {
                text-align: left;
                
                .content-inner {
                    align-items: flex-start;
                }
                .buttons {
                    justify-content: flex-start;
                }
            }
        }
        .content-inner {
            width: 100%;
            max-width: 32rem;
            display: flex;
            flex-direction: column;
            margin: 0 auto;

            @include breakpoint(XS) {
                align-items: start;
                text-align: left;
            }
        }
        .content-wrap {
            width: 100%;
        }
    }
    .img {
        width: 50%;
        position: relative;

        .image-carousel {
           // min-height: 30rem;

            @include breakpoint(XS) {
              //  min-height: 16rem;
            }
            &.shorter {
              //  min-height: 24rem;

                @include breakpoint(XS) {
                   // min-height: 16rem;
                }
            }
        }
        @include breakpoint(XS) {
            width: 100%;
        }
        img {
         //   position: absolute;
         //   top: 0;
         //   left: 0;
         //   height: 100%;
            width: 100%;
        }
        .slick-list,
        .slick-track {
         //   position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
        .slick-controls {
            width: 100%;

            .slick-control {
                @include color(color, 'body');

                &:hover {
                    @include color(color, 'accent-primary');
                }
            }
        }
    }
    &.text-image {
        .content {
            order: 1;
            padding: 0 3.714rem 0 0;

            @include breakpoint(S) {
                padding: 0 3rem 0 0;
            }
            @include breakpoint(XS) {
                padding: 2rem 0 0 0;
                display: block;
                margin: 0;
                order: unset;
            }
        }
        .img {
            order: 2;

            @include breakpoint(XS) {
                order: unset;
                width: 100%;
            }
        }
    }
    &.mob-img-bottom {
        @include breakpoint(XS) {
            .content {
                order: 1;
                padding: 0 0 2rem 0;
            }
            .img {
                order: 2;
            }
        }
    }
    &.column {
        flex-direction: column;

        .content {
            padding: 2rem 0 0 0;
            margin: 0;
            width: 100%;
            text-align: center;
            flex-basis: auto;
            align-items: unset;

            .buttons {
                justify-content: center;
                margin-bottom: 0;
                @include breakpoint(XS) {
                    justify-content: start;
                }
            }
        }
        .img {
            width: 100%;
            
            .image-carousel {
                min-height: 18rem;

                @include breakpoint(XS) {
                    min-height: 16rem;
                }
            }
        }
    }
}

.button.icon.content-carousel-prev,
.button.icon.content-carousel-next {
    position: absolute;
    right: 2rem;
    margin: 0;

    @include breakpoint(M) {
        right: 1rem;
    }
}

.button.icon.content-carousel-prev {
    top: calc(50% - 3.25rem);

    @include breakpoint(S) {
        left: calc(50% - 3.25rem);
        top: auto;
        bottom: 2rem;
    }
}

.button.icon.content-carousel-next {
    bottom: calc(50% - 3.25rem);

    @include breakpoint(S) {
        right: calc(50% - 3.25rem);
        top: auto;
        bottom: 2rem;
    }
}

.content-carousel-container {
    @include breakpoint(S) {
        padding-bottom: 7rem;
    }
}

.img-content-columns {
    padding-left: 5rem;
    padding-right: 5rem;

    @include breakpoint(ML) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    @include breakpoint(S) {
        padding-left: 0;
        padding-right: 0;
    }
    .img-content {
        margin: 0 1rem;
        width: calc(50% - 2rem - 1px);

        @include breakpoint(XS) {
            margin: 0;
            width: 100%;
            padding-bottom: 2rem;
        }
    }
    &.flex-wrap {
        .img-content {
            margin-bottom: 5.5rem;
        }
    }
}