@import "../gutenberg_block";
.image-content-row{
    padding-left: 3rem;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &.remove-background{
        .featured-content-image{
            mix-blend-mode: multiply;
        }
    }
    .image-content-block{
        align-items: center;
        .featured-content-image{
            width: 35%;
        }
        .content{
            width: 65%;
        }
        @include breakpoint(S){
            .content, .featured-content-image{
                width: 100%;
            }
        }
        &.text-align-left{
            .content{
                padding-left: 3.375rem;
            }
        }
        &.text-align-right{
            .featured-content-image{
                order: 2;
            }
            .content{
                order: 1;
                padding-right: 3.375rem;
            }
            @include breakpoint(XS) {
                .featured-content-image{
                    order: 1;
                }
                .content{
                    order: 2;
                    padding: 0;
                    padding-top: 1.214rem;
                    text-align: center;
                    .buttons{
                        justify-content: center;
                    }
                }
            }
        }
        @include breakpoint(XS) {
            flex-direction: column;
            &.text-align-left{
                .content{
                    text-align: center;
                    padding: 0;
                    padding-top: 1.214rem;
                    .buttons{
                        justify-content: center;
                    }
                }
            }
        }
    }
}