@import "../gutenberg_block";

.illustration-columns{
    text-align: center;
    //max-width: 61rem;
    margin: auto;
    .featured-content-image{
        background-color: var(--color-background);
        margin: auto;
        margin-bottom: 3.438rem;
        img{
            mix-blend-mode: multiply;
            margin: auto;
        }
    }
    .column-list{
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
        justify-content: center; /* Center grid items horizontally */
        gap: 3rem;
        .column-list-item{
            .underlined{
                margin-bottom: 2.313rem;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    width: 1.75rem;
                    height: 1px;
                    @include color(background-color, 'body');
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -1.188rem;
                }
            }
            p{
                a{
                    text-decoration: underline;
                }
            }
        }
        @include breakpoint(S) {
            flex-direction: column;
            grid-template-columns: unset;
            .column-list-item{
                margin-bottom: 2.786rem;
                &:last-of-type{
                    margin-bottom: 0;
                }
            }
        }
    }
}