//Minor Button Styling

.button.minor,
button.minor,
input[type="button"].minor {
    padding-left: 0;
    padding-right: 0;
    text-decoration: none;
    @include color(color, 'body');
    background: none;
    border: 1px solid transparent;
    letter-spacing: 0.15em;

    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: -1px;
        bottom: 2px;
        @include color(background-color, 'body');
        animation-name: underline-minor;
        animation-duration: .5s;
    }
    @extend %transition;
    svg {
        @include color(color, 'body');
    }
    
    @include breakpoint(XS) {
        text-align: left;
    }
    //Hover state
    &:hover,
    &.active {
        @extend %transition;
        transform: none;

        &::after{
            content: "";
            position: absolute;
            width: 0%;
            height: 1px;
            right: -1px;
            left: unset;
            bottom: calc(50% - 8px);
            @include color(background-color, 'body');
            animation-name: underline-menu-leave;
            animation-duration: .5s;
        }
        @include color(color, 'accent-primary');

        //Icons on Hover
        svg {
            @include color(color, 'accent-primary');
        }

        //Underline on Hover
        &:after {
            opacity: 1;
            transform: scaleX(1);
        }
    }

    // no underline or padding
    &.stripped {
        padding-left: 0 !important;
        padding-right: 0 !important;

        &:before {
            display: none;
        }
        &.no-hover {
            &:after {
                display: none;
            }
        }
    }

    &.disabled {
        @include color(color, 'body-25');
        pointer-events: none;

        svg {
            @include color(color, 'body-25');
        }
    }
}