//Primary Button Styling, which is default

.primary,
button,
input[type="submit"],
input[type="button"] {

    //Primary button default styling
    @include color(color, 'accent-reverse');
    @include color(background, 'buttons');
    border: 1px solid;
    @include color(border-color, 'buttons');

    //Icon styling
    svg {
        @include color(color, 'accent-reverse');
    }

    //Hide pseudo element of other buttons
    &:after {
        display: none;
    }

    //Hover state
    &:hover {
        @include color(color, 'body');
        @include color(background-color, 'background');
        @include color(border-color, 'buttons');

        svg {
            @include color(color, 'accent-reverse');
        }
    }

    &.white {
        @include color(background-color, 'accent-reverse');
        @include color(color, 'accent-primary');

        svg {
            @include color(color, 'accent-primary');
        }
        &:hover {
            @include color(background-color, 'accent-primary-light');
        }
    }

    &.disabled {
        @include color(background-color, 'body-25');
        border-color: transparent;
        pointer-events: none;

        svg {
            @include color(color, 'body-25');
        }
    }
}