@import "../gutenberg_block";
.content-block-container{
    .content-block{
        .subtitle{
            margin-top: 2rem;
        }
        .buttons{
            margin-top: 3rem;
        }
    }
}
.content-block {
    text-align: center;
    max-width: 51rem;
    margin-left: auto;
    margin-right: auto;
    .featured-content-image{
        margin-bottom: 3.286rem;
        mix-blend-mode: multiply;
        max-width: 15rem;
        margin: 0 auto;
        img{
            margin: auto;
            mix-blend-mode: multiply;
            width: 100%;
            object-fit: contain;
            height: fit-content;
        }
    }
    &.text-align-left {
        text-align: left;
    }
    &.text-align-right {
        text-align: right;
    }.mb-6.size-s.uppercase{
        font-family: $font-stack-headings;
    }
    > {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        ul,
        ol {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}