//Background alt theme colours

// Define your colour variables here
$color-vars-background-alt: (
    background: $color-background-alt,

    background-alt: $color-background
);

// Generate each value you defined above as CSS variables
.theme--background-alt {
    @each $name, $value in $color-vars-background-alt {
        --color-#{$name}: #{$value};
    }
    @include color(background-color, 'background');
    .open-table-class #mp-widget{
    // Reset inherited CSS variables
        @each $name, $value in $color-vars-accent-primary {
            --color-#{$name}: initial; // or set to your neutral/default
        }

        // Optionally override specific styles
        background-color: unset;

        a {
            color: unset;
        }
        input{
            background: white;
            color: #000410;
        }
        label { 
            font-weight: 700; 
            font-size: .625rem; 
            font-size: clamp(0.7142rem, 1.333vw, 0.625rem); 
            font-family: "Louize", "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif; 
            color: #000410; 
            color: var(--color-body, #000410);
        }
    }
}