@import "../gutenberg_block";

.offers-grid {

    .cta-blocks {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 24rem), 1fr));
        gap: 2rem;

        .cta {
            width: 100%;
            max-width: none;
            margin: 0;
        }
    }
}

.offers-actions {
    .post-share {
        margin-left: 2rem;

        @include breakpoint(XS) {
            margin-left: 0;
            margin-top: 2rem;
            width: 100%;
        }
    }
}