@import "../gutenberg_block";

.offers-grid {

    .cta-blocks {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 24rem), 1fr));
        gap: 2rem;

        .cta {
            width: 100%;
            max-width: none;
            margin: 0;
        }
    }
}

.offers-actions {
    .post-share {
        margin-left: 2rem;

        @include breakpoint(XS) {
            margin-left: 0;
            margin-top: 2rem;
            width: 100%;
        }
    }
}
.careers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .img-content{
        width: 50%;
        padding: 2rem 0;
        .content{
            .content-inner{
                .logo{
                    display: flex;
                    flex-direction: row;
                    .logos-careers{
                        max-height: 2.5rem;
                        width: auto;
                        object-fit: contain;
                    }
                    .min-hotel{
                        position: relative;
                        padding-left: 2.5rem;
                        display: flex;
                        align-items: center;
                        margin-bottom: 0;
                        @include size-M;
                        font-style: italic;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.72px;
                        text-transform: capitalize;
                        &::after{
                            content: "";
                            position: absolute;
                            width: 1.5rem;
                            height: 1px;
                            left: .5rem;
                            top: 50%;
                            transform: translateY(-50%);
                            @include color(background-color, 'body');
                        }
                    }
                }
                .buttons{
                    display: flex;
                    flex-direction: column;
                    .button{
                        width: fit-content;
                        margin: 1rem 1rem 1rem 0 !important; 
                    }
                }
            }
        }
    }
    @include breakpoint(S) {
        padding-left: 3.063rem !important;
        padding-right: 3.063rem !important;
        .img-content{
            width: 100%;
        }
    }
}