.banner-block {
    padding-top: 5rem;
    padding-bottom: 5rem;

    @include breakpoint(XS) {
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }
    .banner-content-block {
        max-width: 62rem;
        margin: 0;
        text-align: center;

        > {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            ul,
            ol {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .banner-content {
        p {
            @include size-L;
            font-family: $font-stack-headings;
        }
    }
    &.theme--image {
        min-height: calc(100vh - var(--header-height));
    }

    @keyframes bannerZoom {
        100% {
            transform: scale(1.3); 
        }
    }
    @include breakpoint(S){
        @keyframes bannerZoom {
            100% {
                transform: scale(1.1); 
            }
        }
    }


    &.theme--image {
        .bg-image-carousel:not(.slick-initialized){
           img{
                opacity: 0;
                visibility: hidden;
                &:first-of-type{
                    opacity: 1;
                    visibility: visible;
                }
           }
        }
        img{
            overflow: hidden;
            @include breakpoint(S){
                animation: unset;
            }
            
            &.animation-active{
                animation: bannerZoom 15s;
                animation-fill-mode: forwards;
                animation-timing-function: linear;
                @include breakpoint(S){
                    animation: unset;
                }
            }
            &:nth-of-type(even){
                &.animation-active{
            
                    animation: bannerZoom 15s;
                    animation-fill-mode: forwards;
                    animation-direction: reverse;
                    animation-timing-function: linear;
                    @include breakpoint(S){
                        animation: unset;
                    }
               
                }
            }
            &:not(.slick-slide){
              
                animation: bannerZoom 15s;
                animation-fill-mode: forwards;
                @include breakpoint(S){
                    animation: unset;
                }
                
            }
            @-moz-document url-prefix() {
                video{
                    animation: unset!important; //FF is slow
                }
            }
        
            @media not all and (min-resolution:.001dpcm) { 
                @supports (-webkit-appearance:none) {
                    video{
                        animation: unset!important; //FF is slow
                    }
                }
           }
            
        }
       
    }

    &.full-height {
        min-height: calc(100vh - var(--header-height));
    }
}

.banner-block.banner-portrait {
    min-height: 0;
    margin-bottom: 9.5rem;

    @include breakpoint(XS) {
        margin-bottom: 15rem;
    }
    .booking-mask {
        margin-top: 0;
    }
}

.banner-portrait-inner {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;

    @media only screen and (max-width: 1023px) {
        flex-direction: column;
        align-items: center;
    }
    .banner-portrait-content,
    .banner-portrait-image {
        width: 50%;

        @media only screen and (max-width: 1023px) {
            width: 100%;
        }
    }
    .banner-portrait-content {
        padding-right: 4rem;
        padding-bottom: 10rem;

        > * {
            max-width: 28rem;
        }
        @media only screen and (max-width: 1023px) {
            padding-right: 0;
            padding-bottom: 3.5rem;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
    .banner-portrait-image {
        min-height: 45rem;
        margin-bottom: -6.5rem;
        position: relative;
        box-shadow: 0px 4px 8px rgba($color-body, 0.15);

        @media only screen and (max-width: 1023px) {
            max-width: 30rem;
            min-height: 36rem;
        }
        @include breakpoint(XS) {
            min-height: 20rem;
            max-width: 16rem;
            margin-bottom: -12rem;
        }
    }
}

.continue {
    position: absolute;
    bottom: 0;
    right: 3.75rem;
    z-index: 4;
    transform: rotate(90deg) translateY(50%);
    transform-origin: bottom right;
    @include color(color, 'body');

    @include breakpoint(ML) {
        right: 2.5rem;
    }
    @media only screen and (max-width: 1023px) {
        display: none;
    }
    svg {
        transform: rotate(-90deg);
    }
    span {
        margin-left: 0.75rem;
        margin-right: 1.5rem;
    }
    &:after {
        content: "";
        display: block;
        height: 1px;
        width: 3rem;
        @include color(background-color, 'body-25');
    }
}

.banner-default-continue {
    position: absolute !important;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    border-width: 2px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    svg{
        width: 2rem;
        height: 2rem;
    }
}

//Cookie Consent Styling
.thezetter-2023{
    .up-cookie-widget.up-slim-floating-notice{
        max-width: unset;
        margin: unset;
        width: 100%;
        bottom: 0;
        border-radius: unset;
        background-color: transparent;
        .up-container{
            width: 100%;
            max-width: unset;
            background-color: transparent;
            justify-content: center;
            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                inset: 0;
                background-color: var(--up-background-color);
                opacity: 0.9;
                z-index: -1;
            }
            .cookie-message{
                flex:unset
            }
            p{
                color: var(--up-text-color);;
                font-size: 13px;
            }

        }
    }
    .up-button, .cookie-options{
        border-radius: 10px;
        border: solid 1px var(--up-buttons-color);;
        padding:0.5rem  0.75rem!important;
        font-family: $font-stack-primary;
        text-transform: uppercase;
        color:var(--up-buttons-color);
        &.up-cookie-accept{
            background-color: var(--up-buttons-color)!important;
            border-color: var(--up-buttons-color);
            color: white!important;
        }
    }
}