.footer-newsletter{
    align-items: center;
    gap: 4.438rem;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        @include color(background-color, 'footer-25');
        top: 0px;
    }
    .footer-newsletter-left,
    .newsletter-form{
        width: 50%;
        align-items: center;
    }
    .footer-newsletter-left{
        gap: 3rem;
        article p{
            @include size-M;
            a{
                text-decoration: underline;
            }
        }
    }
    .illustration-newsletter{
        img{
            max-width: 7rem;
            height: fit-content;
            object-fit: contain;
        }
    }
    .newsletter-form{
        .xp-widget-newsletter-panel{
            form{
                row-gap: 16px;
                .form-line{
                    input{
                        background-color: var(--color-background);
                    }
                }
                @include breakpoint(S) {
                    display: flex;
                    flex-direction: column;
                    button{
                        width: 100%;
                    }
                }
            }
        }
        .newsletter-signup_input{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 3.5rem 1rem;
            input[type=text],
            input[type=email]{
                @include size-XS;
                padding: 0;
                padding-bottom: .5rem;
                border: none;
                border-bottom: 1px solid;
                letter-spacing:  0.15em;
                @include color(border-color, 'buttons');
                @include color(color, 'buttons');
                width: calc(50% - .5rem);
                &::placeholder {
                    @include color(color, 'buttons');
                }
            }

        }
    }
    @include breakpoint(S) {
        padding-left: 3rem;
        padding-right: 3rem;
        flex-direction: column;
        .footer-newsletter-left,
        .newsletter-form{
            width: 100%;
            flex-direction: column;
        }
        .footer-newsletter-left{
            text-align: center;
        }
        .newsletter-form{
            .newsletter-signup_input{
                flex-direction: column;
                input[type=text],
                input[type=email]{
                    width: 100%;
                }
                button{
                    order: 1;
                    width: fit-content;
                    margin: auto;
                }
            }
        }
    }
}
.footer-content-top{
    @include breakpoint(M) {
        flex-direction: column;
    }
}
.footer-menu-main{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.footer {
    padding-top: 7.688rem; 
    padding-bottom: 6.313rem;
    display: flex;
    flex-direction: row;
    @include color(background, 'footer');

    .social-links {
        .button {
            margin: 0 0 0 1rem;

            @include breakpoint(XS) {
                margin: 0 1rem 0 0;
            }
        }
    }
    @include breakpoint(M) {
        flex-direction: column;
        text-align: center;
        padding-top: 4.214rem;
        padding-bottom: 3.286rem;
        .footer-logo{
            a{
                margin: auto;
            }
        }
        .footer-menu{
            align-items: center;
        }
    }
}

.footer-logo {
    flex-basis: 25%;
    @include breakpoint(M) {
        width: 100%;
    }
    svg {
        @include breakpoint(M) {
            width: 10rem;
            height: auto;
        }
    }
}

.footer-content {
    flex-basis: 75%;
    .footer-contact {
        flex-basis: 25%;
        flex-grow: 1;

        @include breakpoint(M) {
            width: 100%;
            flex-basis: 100%;
        }
    }
    a{
        margin-bottom: 0.688rem;
        letter-spacing: 0.15em;
        width: fit-content;
        &:hover{
            &::after{
                content: "";
                position: absolute;
                width: calc(100%);
                height: 1px;
                left: 0rem;
                bottom: 0;
                @include color(background-color, 'body');
                animation-name: underline-menu;
                animation-duration: .5s;
            }
        }
    }
}

.footer-menus {
    flex-basis: 75%;
    display: grid;
    // Basically this is saying "if there's enough space, fill in columns at comfortable width with a min-width of 16rem
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 2rem;

    @include breakpoint(M) {
        flex-basis: 100%;
        width: 100%;
        display: block;
    }
}

.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .contact-details{
        display: flex;
        flex-direction: column;
        a{
            @include size-S;
            text-transform: uppercase;
            @include breakpoint(M) {
                padding: 0.357rem 0 !important;
                margin: 0 auto;
            }
        }
    }
    .credits{
        line-height: 1.2rem;
        font-weight: 400 !important;
        @include size-S;
        font-family: $font-stack-headings;
        @include color(color, 'body');
        @include breakpoint(M) {
            margin-top: 1.786rem;
        }

        a {
            letter-spacing: unset;
        }
    }
    a {
        @include color(color, 'body');

        &:hover {
            @include color(color, 'accent-primary');
        }
    }
    .tel,
    .email {
        white-space: nowrap;
    }
    @include breakpoint(M) {
        padding-top: 1rem;
        padding-bottom: 1.5rem;

        h5 {
            @include size-L;
        }
    }
}
.contact-details{
    .h5{
        @include size-M;
    }
}
.footer-menu {
    padding-right: 1rem;

    &.footer-menu-main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    @include breakpoint(M) {
        padding-right: 0;
        margin-bottom: 2rem;
        .footer-submenu{
            margin-bottom: 2rem;
            a{
                margin: 0 auto !important;
            }
        }
    }
    .footer-menu-wrap {
        @include breakpoint(XS-up) {
            display: block !important; // this is in case someone closes it on mobile and goes to a larger screen
        }
        @include breakpoint(XS) {
            padding-bottom: 0;
            ul{
                display: flex;
                flex-direction: column;
                li{
                    margin: auto;
                    padding: 0;
                    a{
                        padding: 0.357rem 0 !important;
                        margin: 0 auto;
                        &:first-of-type{
                            padding-top: 0;
                        }
                        &:last-of-type{
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    .h5{
        margin-bottom: 1.813rem;
        @include size-M;
        @include breakpoint(M) { 
            justify-content: center;
        }
    }
    ul {
        width: 100%;

        @include breakpoint(M) { 
            display: flex;
            flex-wrap: wrap;
        }
        li {
            // margin-bottom: 1rem;
            padding-right: 1rem;
            margin-bottom: 0.688rem;
            &:last-of-type{
                margin-bottom: 0;
            }
            @include breakpoint(M) {
                width: 100%;
                margin-bottom: 0;
                a{
                    margin: auto;
                }
            }
        }
    }
    a {
        display: block;
        @include color(color, 'body');
        @include size-S;
        text-transform: uppercase;

        @include breakpoint(M) {
            padding: 0.357rem 0 !important;
            margin: 0;
        }
        &:hover {
            @include color(color, 'accent-primary');
        }
        &:last-of-type{
            margin: 0;
            @include breakpoint(M) {
                margin: auto;
            }
        }
    }
}

.mob-footer-menu-toggle {
    width: 100%;

    .button.icon {
        display: none;

        @include breakpoint(XS) {
            display: flex;
        }
    }
    @include breakpoint(XS) {
        @include size-L;

        &.active {
            @include color(color, 'accent-primary');

            .button {
                @include color(border-color, 'accent-primary');

                svg {
                    @include color(color, 'accent-primary');
                }
            }
        }
    }
}

.copyright {
    @include breakpoint(XS) {
        .uphotel {
            padding-left: 0;
        }
        .copyright-menu {
            width: 100%;
            margin-bottom: 0.5rem;

            ul {
                display: block;
                padding: 0 0 0 0.5rem;

                li {
                    display: inline-block;
                    width: auto;
                }
            }
        }
    }
}