.footer {
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include breakpoint(XS) {
        padding-top: 2.75rem;
        padding-bottom: 2.75rem;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2.5rem;

        @include breakpoint(XS) {
            li {
                width: 50%;
            }
        }
        a {
            margin: 0.5rem 1rem;
            font-weight: 400;
            @include color(color, 'body');
            display: block;

            &:hover {
                @include color(color, 'accent-primary');
            }
        }
    }
}

.social-links {
    .button {
        margin: 0 0.5rem;
    }
}