.page-container {
    @extend %transition;

    
    > {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        ul,
        ol,
        blockquote {
            max-width: 52rem;
            margin-left: auto;
            margin-right: auto;

            @include breakpoint(M) {
                max-width: calc(100vw - 3rem);
            }
        }
    }
    // clear AOS on first 2 gutenberg blocks. Has to be up to nth-child(4) due to inline style tags for the first 2 block
    .row {
        &:nth-child(1):not(.full-height) ~ .row:nth-child(2 of .row) {
            [data-aos^=fade][data-aos^=fade] {
                opacity: 1;
                transform: none;
            }
        }
    }
    .full-height {
        &::after{
            display: none;
        }
    }
    &:not(:has(.row)){
        padding: 6.813rem 0;
        p,
        ul,
        li{
            @include size-S;
        }
    }
}