// Generate each value you defined above as CSS variables at root level
// ================================================

:root,
.theme--default {
    @each $name, $value in $color-vars {
        --color-#{$name}: #{$value};
    }
    .open-table-class #mp-widget{
    // Reset inherited CSS variables
        @each $name, $value in $color-vars-accent-primary {
            --color-#{$name}: initial; // or set to your neutral/default
        }

        // Optionally override specific styles
        background-color: unset;

        a {
            color: unset;
        }
        input{
            background: white;
            color: #000410;
        }
        label { 
            font-weight: 700; 
            font-size: .625rem; 
            font-size: clamp(0.7142rem, 1.333vw, 0.625rem); 
            font-family: "Louize", "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif; 
            color: #000410; 
            color: var(--color-body, #000410);
        }
    }
}

// Create utility classes for each colour in your color-vars map
// ================================================

@each $name, $value in $color-vars {
    .bg--#{$name} {
        @include color(background-color, #{$name})
    }

    .text--#{$name} {
        @include color(color, #{$name})
    }

    .hover\:bg--#{$name}:hover {
        @include color(background-color, #{$name})
    }

    .hover\:text--#{$name}:hover {
        @include color(color, #{$name})
    }
}


//Import colour theme variation files here
// ================================================
@import 'color-themes/color-theme-dark';
@import 'color-themes/color-theme-accent-primary';
@import 'color-themes/color-theme-secondary-accent';
@import 'color-themes/color-theme-custom';

@import 'color-themes/color-theme-background-alt';
@import 'color-themes/color-theme-image';

@import 'color-themes/cards/color-theme-cards';